body {
   margin: 0; 
}
.navbar {
background: white;

margin:2em 

}
.logo {
width: 5em;
}

.inec {
    color: gray;
    text-decoration: none;
    font-size: 2em;
}
.nec {
    color: green;
    text-decoration: none
    ;
    font-size: 1em;
    left: 70%;
}
nav {
    display: inline;
    overflow: none;
    

}
.primary-nav{
    display: inline;
    background-color: rgb(61, 59, 59);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.container {
    display: flex;
    place-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 .navbar{ 
text-align: left;
    
}
.container2 {
    position: relative;
}
.left-col{
    position: absolute;
    top: 5%;
    font-size:xx-large;
    padding: 5%;
}
.left-col2{
    position: absolute;
    bottom: 52%;
    font-size: x-large;
    padding: 5%;
    color:rgb(61, 59, 59);
}
.hero-img {
    width: 100%;
}
.primary-cta{
    display: inline;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 55%;
    margin-left: 5%;
}
.chairman{
    text-align: center;
    font-size: xx-large;
}
.message{
    margin: 4% 10%;

}
.pic-left-column{
    float: left;
    margin-bottom: 20%;
    

   
}
.msg{
    font-size: larger;
    margin-top: 10%;
}
.professor{
    font-weight: bold;
}